* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div.navcontainer {
  height: 7vh;
  display: flex;
  margin: 0;
  padding: 0;
  border: black 1px;
  background-color: #161616;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  margin-right: 6%;
}

#navbar a,
#navbar a:visited {
  font-family: helvetica;
  text-decoration: none;
  color: white;
}

#navbar a:hover,
#navbar a:active {
  color: orange;
  font-weight: 600;
}

#navbar li {
  list-style: none;
  margin-right: 10px;
}

#logo {
  margin-left: 6%;
}

#logo a,
#logo a:visited {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 400;
  color: orange;
  margin: 0;
  padding: 0;
}

#logo a:hover,
#logo a:active {
  color: orange;
}

.parent {
  height: 100vh;
  display: flex;
}

.child1 {
  width: 120px;
  height: 120px;
  background-color: mediumturquoise;
}
.child2 {
  width: 120px;
  height: 120px;
  background-color: chocolate;
}
.child3 {
  width: 120px;
  height: 120px;
  background-color: olive;
}
