.logo {
  height: 6vh;
}

.itembox {
  background-color: rgb(232, 232, 248);
  border: solid white 3px;
  padding: 10px;
}

#content {
  margin: 20px 10px;
}

.itembox h3 {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.heading {
  font-size: 2em;
  font-weight: 600;
  text-decoration: tomato underline double;
  width: 100%;
  padding: 15px;
}

.navbar-nav {
  align-content: center;
}
